button {
    outline: none;
    border: none;
    box-shadow: var(--shadow-mid);
    border-radius: var(--border-radius);
    background-color: var(--primary-color);
    color: var(--primary-font-color);
    text-decoration: none;
    text-align: center;
    width: 100%;
    padding: var(--primary-padding);
}

    button:hover {
        opacity: 0.9;
    }

    button:active {
        box-shadow: var(--shadow-low);
    }

    button:focus {
        outline: var(--border);
    }
