@using Fukicycle.Tool.Blazor.Extensions.Enums
@if (_isShow)
{
    <div class="dialog-wrapper">
        <div class="dialog">
            <div class="dialog-header"></div>
            <div class="dialog-body">
            </div>
            <div class="dialog-footer">
                <Button>OK</Button>
                <Button>Cancel</Button>
            </div>
        </div>
    </div>
}
@code {
    private bool _isShow = false;

    private TaskCompletionSource<DialogResult> _tcs;

    public Task ShowAsync(string message)
    {
        _tcs = new TaskCompletionSource<DialogResult>();
        return _tcs.Task;
    }
}